*,
::before,
::after {
    background-repeat: no-repeat;
    box-sizing: border-box;
}

* {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    position: relative;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}